img{
	width: 100%;
}

a:link,a:visited,a:hover,a:active{
	color:#333 !important;
	text-decoration: none !important;
}

.force-list-style{
	list-style: none !important ;
}
.navbar-text-right{
	text-align: right;
}
.button-margin-bot{
	margin-bottom: 0.5em;
}

.home-img-top{
	border-radius:10px;
	box-shadow:0.2em 0.8em 4em grey;
}
.title{
	text-align: center;
}
.title .btn{
	width: 50%;
}
.padding-top-3{
	padding-top: 3em;
}
.padding-bot-2{
	padding-bottom:2em;
}
.padding-ver-2{
	padding-top: 2em;
	padding-bottom:2em;
}
.padding-ver-1{
	padding-top: 1em;
	padding-bottom:1em;
}
.padding-ver-0-5{
	padding-top: 0.5em;
	padding-bottom:0.5em;
}

.boxes{
	text-align: center;
	margin-top:1.5em;
	box-shadow:0em 0em 0em grey;
	border: lightgrey 1px solid;
	border-radius: 10px;
	-webkit-transition: box-shadow 0.4s ease-in-out;
	-moz-transition: box-shadow 0.4s ease-in-out;
	transition: box-shadow 0.4s ease-in-out;
}
.boxes:hover{
	box-shadow:0.2em 0.8em 2em grey;

}
.boxes img{
	padding-top:2em;
	padding-bottom:2em;
	width: 70%;
	margin-left: 15%
}
.boxes i{
	padding-top:0.2em;
	font-size: 8em;
}

.btngroup-25{
	width: 25%;
}
.btngroup-100{
	width: 100%;
}
.btn75{
	width: 75%;
}
.btn25{
	width: 25%;
}
.btn100{
	width: 100%;
}

.footer{
	margin-left: 0px !important;
	margin-right: 0px !important;

	background-color: #fff;
	text-align: center;
}
.footer-text{
	padding-top: 0.8em;
} 

@media (max-width:415px) {
  .float-right-now li{
    float: right !important;
  }
}
@media (max-width: 768px){
.substitute {
    display: none;
}
}
@media (min-width:768px){
  .begone{
    left: -220px;
  }
  .appear{
    left: 0;
    animation: slideInLeft .2s;
    -webkit-animation: slideInLeft .2s;
  }
}
.smallerHeader{
  width: auto !important;
}
.sidebar{
  background-color: #ececec;
}
.nav-header{
  color:#424242 !important;
}
.sidebar.sidebar-grid .nav>li>a{
  border-color: #b7b8b9;
}
.sidebar .nav>li>a:link{
  color:#808386;
}
.sidebar .nav>li>a:visited{
  color:#808386;
}
.sidebar .nav>li>a:hover{
  color:#000;
}
.sidebar .nav>li>a:active{
  color:#000;
}
.sidebar .sub-menu>li>a:link{
  color:#808386;
}
.sidebar .sub-menu>li>a:visited{
  color:#808386;
}
.sidebar .sub-menu>li>a:hover{
  color:#000;
}
.sidebar .sub-menu>li>a:active{
  color:#000;
}
.sidebar-minify-btn:link{
  background-color: #b3b3b3;
}
.sidebar-minify-btn:visited{
  background-color: #b3b3b3;
}
.sidebar-minify-btn:hover{
  background-color: #6d6e6f;
}
.sidebar-minify-btn:active{
  background-color: #6d6e6f;
}
.noBackground{
	background: none;
}
.content-padding{
	padding: 20px 30px;
}
.input-group-addon{
	width: auto !important;
	line-height: normal !important;
	border: solid 1px #ccc !important;
}
.input-group-addon .fa{
	line-height: normal !important;
}
.btn-50{
	width: 50%;
}
.btn-colormode {
	color:white !important;
}
.btn-colormode:visited {
	color:white !important;
}
.btn-colormode:hover {
	color:white !important;
}
