.sidebar-scroll-fixed{
  width: auto;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.sidebar-content-fixed{
  overflow: hidden;
  width: auto;
  height: 100%;
}
@media (max-width:415px) {
  .float-right-now li{
    float: right !important;
  }
}
.no-margin{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.force-border{
  border-color: #ccc !important;
}
.this{
  color:red;
}
.disabled{
  cursor: default !important;
}
.btngroup-100{
  width: 100%;
}
.btn75{
  width: 75%;
}
.btn25{
  width: 25%;
}
.btn-50{
  width: 50%;
}
.btn100{
  width: 100%;
}
.btn33{
  width: 33%;
}
.btn34{
  width: 34%;
}