.sidebar-scroll-fixed{
  width: auto;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.sidebar-content-fixed{
  overflow: hidden;
  width: auto;
  height: 100%;
}
@media (max-width:415px) {
  .float-right-now li{
    float: right !important;
  }
}
